.bodyContainer {
    padding: 10px;
}

.secrectSantaDashboard {
    background: white;
    padding: 10px;
}

.titlesSS {
    color: #006FC1;
    font-weight: bold;
    font-size:25px;
}

.infoSecrectSanta {
    margin-left: 5px;
}

.tabInfoSecrectSanta {
    margin: 5px;
    padding: 2px;
}
