
.tetrix-header {
    font-size: 30px;
    letter-spacing: 40px;
    background: inherit;
    margin:0;
    padding: 10px;
}

.tetrix-container{
    background: #f5f5f5;
    text-align: center;
}

.tetrix-info {
    color: gray;
    background: inherit;
    margin: 0;
    padding: 10px;
}

.tetrix-field {
    background: inherit;
    display: inline;
}

.tetrix-game_Field {
    border-style: groove;
    width: 300;
    height: 660;
    display: inline-block;
    background-color: #CFD8DC;
    position: relative;
    box-shadow: 10px 10px 5px #888888;
}
