@import url('https://fonts.googleapis.com/css?family=Roboto');

*, .base {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
  background:#fafafa;
}
h2 {
  font-size: 20px; 
}

h2, h1, h3 {
   margin:2px;
   padding: 2px;
 }

 h2, h1, h3, div {
   margin-top:0;
 }

/*Header*/
.header {
    position: fixed;
    top:0;
    right: 0;
    left:0;
    align-items: center;
    height: 77px;
    background: white;
}

.headerContainer {
  background-color: white ;
  padding: 0;
  display:flex;
  border-bottom: 1px solid #dbdbdb;
}

.headerContainer > div {
  background-color: white !important;
  width: 33%;
}

.searchBox {
  padding: 35px 40px 0 40px;
}

.logo {
  padding: 5px;
}

.manage {
  display: inline;
  padding: 18px 25px 0px 0px;
  font-size: 12px;
  font-weight: 100; 
  text-align: right; 
}

.manage > h3 {
  position: relative;
  bottom: 30px;
}
.manage > h3 > span {
  position: relative;
  top: 20px;
  margin: 5px;
}

.logo > h2 {
  position: relative;
  bottom:20px;
  padding: 5px;
  margin:2px;
}

.logo > h2 > span {
  margin: 7px;
  position: relative;
  top: 15px;
}

.iconLogo {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: 35px 35px;
  background-image: url("./images/mercurial.png");
}

/*Principal Panel*/
.principalPanel {
  margin: 120px 200px 120px 200px;
  background-color: white;
  border: 1px solid #efefef;
  margin-bottom: 1px solid #efefef;
  border-radius: 5px;
}

.AplicacionesTitle {
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.AplicacionesTitle > h3 {
    margin:5px;
    font-size: 22px;
}
.bodyContainer {
  background: #f5f5f5;
  padding: 0 10px;
  min-height: 200px;
}

/* Dashboad */
.dashboard {
  background: #f5f5f5;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: center;
}

/* Apps */
.app {
  background: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.app-tittle {
  margin: 10px;
  font-weight: bold;
  background: inherit;
  color: white;
  text-align: center;
  font-size: 20px;
}

.app-tittle:hover {
  background: inherit;
}

.app-icon {
  background: none;
  width: 140px;
  height: 140px;
  margin:0 30px;
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  padding:  7px;
  font-size: 18px;
  height: 40px;
  text-align: center;
  border: 1px solid #efefef;
}

/* General */
/*  Colors */
.black {
  background: black;
}

.white {
  background: linear-gradient(141deg, white 0%, white 51%, white 75%);
}

.white:hover {
  background: linear-gradient(141deg, #fafafa 0%, #fafafa 51%, #fafafa 75%);
}

.blue {
  background: linear-gradient(141deg, #0fb8ad 0%, #0fb8ad 51%, #0fb8ad 75%);
}

.blue:hover {
  background: linear-gradient(141deg, #42A5F5 0%, #42A5F5 51%, #42A5F5 75%);
}

.red {
  background: linear-gradient(141deg, #F44336 0%, #F44336 51%, #F44336 75%);
}

.red:hover {
  background: linear-gradient(141deg, #D32F2F 0%, #D32F2F 51%, #D32F2F 75%);
}

.green {
  background: linear-gradient(141deg, #4CAF50 0%, #4CAF50 51%, #4CAF50 75%);
}

.green:hover {
  background: linear-gradient(141deg, #388E3C 0%, #388E3C 51%, #388E3C 75%);
}

.gray {
  background: linear-gradient(141deg, #9E9E9E 0%, #9E9E9E 51%, #9E9E9E 75%);
}

.gray:hover{
  background: linear-gradient(141deg, #757575 0%, #757575 51%, #757575 75%);
}

.teal {
  background: linear-gradient(141deg, #009688 0%, #009688 51%, #009688 75%);
}

.teal:hover {
  background: linear-gradient(141deg, #00897B 0%, #00897B 51%, #00897B 75%);
}

.purple {
  background: linear-gradient(141deg, #9C27B0 0%, #9C27B0 51%, #9C27B0 75%);
}

.purple:hover {
  background: linear-gradient(141deg, #7B1FA2 0%, #7B1FA2 51%, #7B1FA2 75%);
}

.lightBlue {
  background: linear-gradient(141deg, #03A9F4 0%, #03A9F4 51%, #03A9F4 75%);
}

.lightBlue:hover {
  background: linear-gradient(141deg, #039BE5 0%, #039BE5 51%, #039BE5 75%);
}

.deepOrange {
  background: linear-gradient(141deg, #FF5722 0%, #FF5722 51%, #FF5722 75%);
}

.deepOrange:hover {
  background: linear-gradient(141deg, #F4511E 0%, #F4511E 51%, #F4511E 75%);
}

.blueGray {
  background: linear-gradient(141deg, #607D8B 0%, #607D8B 51%, #607D8B 75%);
}

.blueGray:hover {
  background: linear-gradient(141deg, #455A64 0%, #455A64 51%, #455A64 75%);
}

.login {
  height: 40%;
  width: 60%;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 20%;
  text-align: center;
}

.login h2 {
  margin:40px 40px 10px 40px;
  font-size: 35px;
}

.login div {
  margin: 20px;
  padding: 10px;
  display: flex;
}

.login div button {
  margin: 1px;
  border-radius: 5px;
}

button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter,
button.google,
input[type=submit].google {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 25%;
  color: #fff;
  padding: 1.5rem;
  font-size: 16px;
  cursor: pointer;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
button.google,
input[type=submit].google {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
}
button.google:after,
input[type=submit].google:after {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
}

.footnote {
  color: #9E9E9E;
  position: relative;
  top: 20px;
}
